@import "../../style/default.less";
@import "../../style/variable.less";

.@{prefix}{
    &-img{
        width: 100%;
        height: 100%;
        &-fill{
            object-fit: fill;
        }
        &-contain{
            object-fit: contain;
        }
        &-cover{
            object-fit: cover;
        }
        &-scaleDown{
            object-fit: scale-down;
        }
    }
}